body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 1rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

section {
    background: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

ul, ol {
    padding-left: 20px;
}

pre {
    background: #eee;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace;
}

a {
    color: #333;
}

a:hover {
    color: #000;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ccc;
}

#screenshots img {
    max-width: 100%;
    height: auto;
    display: block; /* To remove extra space below image */
    margin-bottom: 1rem; /* Add some space between images */
    border: 1px solid #ddd; /* Optional: Add a subtle border */
    border-radius: 5px; /* Optional: Rounded corners */
}
